<#+
public class EnumDefinition
{
	public string Name { get; set; }
	public EnumConstantDefinition[] Constants { get; set; }
}

public class EnumConstantDefinition
{
	public EnumConstantDefinition(string name, string value)
	{
		Name = name;
		Value = value;
	}

	public string Name { get; set; }
	public string Value { get; set; }
}

#>